.SearchBar {
  text-align: center;
}

.SearchBar form {
  display: inline-block;
}

.SearchBar input[type="text"] {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.SearchBar button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.SearchBar button:hover {
  background-color: #0056b3;
}
