.JobCard-card {
    width: 300px;
    background-color: #e6e6fa;
    border-radius: 10px;
    border: 1px solid #9370db;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  
  .JobCard-body {
    padding: 20px;
  }
  
  .JobCard-button {
    align-self: flex-end;
    margin-top: auto;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .JobCard-button:hover {
    background-color: #0056b3;
  }
  